/npm/node_modules
/npm/package-lock.json

/npm_new/node_modules
/npm_new/package-lock.json

/react_class/node_modules
/react_class/package-lock.json

/Todo_app/todo/node_modules
/Todo_app/todo/package-lock.json

/weather/weather_app/node_modules
/weather/weather_app/package-lock.json

/tailwindcss/node_modules
/tailwindcss/package-lock.json

/redux_class/reduxtoolkit/node_modules
/redux_class/reduxtoolkit/package-lock.json

/addtocart/cart/node_modules
/addtocart/cart/package-lock.json