/npm/node_modules
/npm/package-lock.json

/npm_new/node_modules
/npm_new/package-lock.json

/react_class/node_modules
/react_class/package-lock.json

/Todo_app/todo/node_modules
/Todo_app/todo/package-lock.json

/weather/weather_app/node_modules
/weather/weather_app/package-lock.json

/tailwindcss/node_modules
/tailwindcss/package-lock.json

/redux_class/reduxtoolkit/node_modules
/redux_class/reduxtoolkit/package-lock.json

/addtocart/cart/node_modules
/addtocart/cart/package-lock.json

/backend/client/node_modules
/backend/client/package-lock.json

/backend/server/node_modules
/backend/server/package-lock.json

/expressjs/node_modules
/expressjs/package-lock.json


/e_commerce_mern/backend/node_modules
/e_commerce_mern/backend/package-lock.json

/e_commerce_mern/frontend/node_modules
/e_commerce_mern/frontend/package-lock.json


/mern/server/node_modules
/mern/server/package-lock.json

/mern/user/node_modules
/mern/user/package-lock.json

